<?xml version="1.0"?>

<launch>

  <arg name="laser_enabled" default="true"/>
  <arg name="ur5_enabled" default="false"/>
  <arg name="kinect_enabled" default="false"/>
  <arg name="ur5_camera_enabled" default="false"/>
  <arg name="kinectv2_enabled" default="false"/>

  <arg name="paused" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"  />
  <arg name="headless" default="false"/> 

  <include file="$(find kuri_mbzirc_sim)/launch/mbzirc_arena.launch" >
    <arg name="world_name" default="$(find kuri_mbzirc_sim)/gazebo_models/world/mbzirc_arena_task_2.world"/>  
  <!--   <arg name="world_name" value="$(find husky_gazebo)/worlds/clearpath_playpen.world"/> -->
    <arg name="paused" default="$(arg paused)"/>
    <arg name="debug" default="$(arg debug)"/>
    <arg name="gui" default="$(arg gui)"  />
    <arg name="headless" default="$(arg headless)"/>
  </include>

<!--  <arg name="robot_initial_pose" value="-x 65  -y -25 -z 0.1 -Y 3.14" />  -->
  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="ur5_enabled" value="$(arg ur5_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="ur5_camera_enabled" default="false"/>
    <arg name="kinectv2_enabled" default="false"/>

  </include>


</launch>	
